<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <div class="main-body">
  <header>
    <h1>Bogdans Pizzeria</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <%if !@logged_in%>
    <a href="/user/login">LOGIN</a>
    <a href="/user/signup">SIGNUP</a>
    <%else%>
    <a href="/user/logout">LOGOUT</a>
        <a class="deleteuser" href="/deleteuser">DELETE USER</a>
    <%end%>
    <a href="/main/cart">CART</a>

  </nav>

    <div class="content">
    <%= yield %>
    </div>
  </div>
  <script src="/script.js"></script>
</body>
</html>
