<h1>Login Page</h1>

<form action="/user/login" method="post">
    <label>Namn <input type="text" name="username" required></label>
    <label>Lösenord <input type="password" name="password" required></label>
    <input type="submit" value="Signup">
</form>

<a href="/">TILLBAKA</a>