
<div class="pizza-main">
  <% @pizzas.each do |pizza|%>
  <div class="pizza-item">
    <img class="pizza-image" src="/img/<%=pizza("name")%>.jpg" alt="Pepperoni pizza">
    <h3><%=pizza("name")%></h3>
    <span class="price">$<%=pizza("price")%></span>

    <div class="purchase-bar">
      <div class="qty-controls">
        <button class="qty-btn" type="button">−</button>
        <div class="qty">0</div>
        <button class="qty-btn" type="button">+</button>
      </div>

      <button class="add-btn" type="button">Add</button>
    </div>
  </div>
  <%end%>
</div>
