<h1>Ordrar</h1>

<%if @isadmin%>
    <table>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Order Date</th>
        </tr>
        <% @all_orders.each do |order| %>
            <tr>
                <td><%= order['id'] %></td>
                <td><%= order['userid'] %></td>
                <td><%= order['order_date'] %></td>
            </tr>
        <% end %>


<%end%>